$fontRegular: 'Biennale Regular';
$fontBold: 'Biennale Bold';
$fontLight: 'Biennale Light';

$primaryColor: #25CBD3;
$primaryColorWithOpacity1: #25CBD31f;
$primaryColorWithOpacity2: #25CBD340;
$primaryColor3: #3BD42D;
$primaryColor4: #F0F5FF;

$white: #FFFFFF; 

$greyColor1: #DADADA;
$greyColor2: #7C7786;
$greyColor3: #4D4C4D;
$greyColor4: #333333;

$error: #D44231;

$desktoBreakpoint: 992px;