@import "./configs.scss";

.container-objects {
    flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: center;

    .grid {
        display: flex;
        position: relative;
        width: 100vw;
        aspect-ratio: 1/1;
        flex-shrink: 0;
        background-color: $white;
        box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);

        .line {
            position: absolute;
            height: 0;
            margin: 0;

            &.row {
                width: 100%;
                left: 0;
                border-bottom: 0.5px solid $primaryColor;

                &.one {
                    top: 12.5%;
                }

                &.two {
                    top: 25%;
                }

                &.three {
                    top: 37.5%;
                }

                &.four {
                    top: 50%;
                }

                &.five {
                    top: 62.5%;
                }

                &.six {
                    top: 75%;
                }

                &.seven {
                    top: 87.5%;
                }
            }

            &.column {
                height: 100%;
                top: 0;
                border-left: 0.5px solid $primaryColor;

                &.one {
                    left: 12.5%;
                }

                &.two {
                    left: 25%;
                }

                &.three {
                    left: 37.5%;
                }

                &.four {
                    left: 50%;
                }

                &.five {
                    left: 62.5%;
                }

                &.six {
                    left: 75%;
                }

                &.seven {
                    left: 87.5%;
                }
            }
        }

        img {
            position: absolute;

            &.rotated {
                height: 25% !important;
                width: 12.5% !important;
            }

            &.wall-object {
                width: 100%;
                height: 12.5%;
            }

            &.floor-object {
                width: 100%;
                height: 87.5%;
            }

            &.rug-object {
                width: 25%;
                height: 37.5%;
            }

            &.table-object {
                width: 25%;
                height: 25%;
            }

            &.chair-object {
                width: 12.5%;
                height: 12.5%;
                padding: 0 0.5%;
            }

            &.couch-object {
                width: 25%;
                height: 12.5%;
            }

            &.decor-object {
                width: 12.5%;
                height: 12.5%;
                padding: 2.5%;
            }

            &.nature-object {
                width: 12.5%;
                height: 12.5%;
                padding-top: 0;
            }

            &.row-one {
                top: 0%;
            }

            &.row-two {
                top: 12.5%;
            }

            &.row-three {
                top: 25%;
            }

            &.row-four {
                top: 37.5%;
            }

            &.row-five {
                top: 50%;
            }

            &.row-six {
                top: 62.5%;
            }

            &.row-seven {
                top: 75%;
            }

            &.row-eight {
                top: 87.5%;
            }

            &.column-one {
                left: 0%;
            }

            &.column-two {
                left: 12.5%;
            }

            &.column-three {
                left: 25%;
            }

            &.column-four {
                left: 37.5%;
            }

            &.column-five {
                left: 50%;
            }

            &.column-six {
                left: 62.5%;
            }

            &.column-seven {
                left: 75%;
            }

            &.column-eight {
                left: 87.5%;
            }
        }

        .user-avatar {
            position: absolute;
            z-index: 30;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 12.5%;
            height: 25%;

            div {
                background-color: $greyColor3;
                border: 1.5px solid $primaryColor4;
                border-radius: 20px;
                margin-bottom: 4px;
                padding: 2px 8px;
                max-width: 100%;

                &.muted {
                    border-color: $muted;
                }

                span {
                    font-size: 8px;
                    font-weight: 500;
                    color: $primaryColor4;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &.muted {
                        color: $muted;
                    }
                }
            }

            .user-avatar-room {
                position: relative;
                width: 80%;

                &.rotatedAvatar {
                    height: 55%;
                }

                &.selectedAvatar {
                    border: 2px solid $primaryColor;
                }
            }

            &.row-one {
                top: 0%;
            }

            &.row-two {
                top: 12.5%;
            }

            &.row-three {
                top: 25%;
            }

            &.row-four {
                top: 37.5%;
            }

            &.row-five {
                top: 50%;
            }

            &.row-six {
                top: 62.5%;
            }

            &.row-seven {
                top: 75%;
            }

            &.row-eight {
                top: 87.5%;
            }

            &.column-one {
                left: 0%;
            }

            &.column-two {
                left: 12.5%;
            }

            &.column-three {
                left: 25%;
            }

            &.column-four {
                left: 37.5%;
            }

            &.column-five {
                left: 50%;
            }

            &.column-six {
                left: 62.5%;
            }

            &.column-seven {
                left: 75%;
            }

            &.column-eight {
                left: 87.5%;
            }
        }

        .preview {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
            z-index: 30;
            background-color: $greyColorWithOpacity1;

            img {
                width: 68px;
                height: 68px;
                position: relative;
                margin-bottom: 3%;
                cursor: auto;
            }

            button {
                width: 30%;
                height: 8%;
                border: 2px solid $white;
                background-color: transparent;
                font-size: 12px;
                font-weight: 600;
                line-height: 120%;
                letter-spacing: 0.165px;
            }
        }

        .audio {
            position: absolute;
            cursor: pointer;
            top: 88%;
            left: 88%;
            width: 32px;
            z-index: 30;
        }
    }

    @media screen and (min-width: $desktopBreakpoint) {
        display: flex;
        flex: 1;
        max-height: 100%;
        max-width: 100%;
        justify-content: center;
        align-items: flex-start;
        padding: 32px 0;

        .center {
            display: flex;
            align-items: flex-start;
            justify-content: center;

            .grid {
                width: 35vw;

                img {
                    cursor: pointer;

                    &.selected {
                        filter: invert(25%) sepia(40%) saturate(4000%)
                            hue-rotate(709deg) brightness(80%) contrast(104%);
                    }
                }

                .preview {
                    img {
                        width: 120px;
                        height: 120px;
                    }

                    button {
                        width: 45%;
                        height: 10%;
                        font-size: 16px;
                    }
                }
            }

            .actions {
                margin-left: 16px;

                div {
                    width: 48px;
                    height: 48px;
                    background-color: $greyColor1;
                    border-radius: 4px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 16px;
                    cursor: auto;

                    &.active {
                        background-color: $primaryColor;
                        cursor: pointer;
                    }
                }
            }

            .audio {
                width: 9%;
                top: 90%;
                left: 90%;
            }
        }
    }
}
