@import "./configs.scss";

.container-room {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: stretch;

    background-color: $primaryColorWithOpacity1;
    background-image: url("../images/background.svg");
    background-size: cover;

    .container-audio-video-users {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 38%;

        .other-user {
            display: flex;
            margin-left: 16px;
            padding: 16px 0;
            flex: 1;

            .container-media {
                display: flex;
                flex: 1;

                .container-video-audio {
                    display: flex;
                    flex-wrap: wrap;
                    max-width: 100%;
                    justify-content: flex-start;
                    position: relative;
                    top: -25%;
    
                    .row-video-name {
                        flex-direction: column;
                        display: flex;
                        padding: 9px;
                        justify-content: space-around;
                        box-shadow: 1px 0px 5px 0px $greyColor1;
                        background-color: $white;
                        border-radius: 10px;
    
                        .name-video {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: $white;
                            border-radius: 8px;
                            box-shadow: 1px 0px 5px 0px $greyColor1;
                            border: 1.5px $primaryColor solid;
                            width: 100px;
                            margin-left: 3px;
    
                            span {
                                font-family: $fontRegular;
                                font-size: 10px;
                                color: $primaryColor;
                            }
                        }
                        .muted {
                            border-color: $muted;
    
                            span {
                                color: $muted;
                            }
                        }
                        .video {
                            flex-direction: column;
                            display: flex;
                            flex: 1;
    
                            .video-off {
                                margin: 3px;
                                box-sizing: border-box;
                                width: 100px;
                                height: 75px;
                                background-color: rgb($greyColor1, 0.5);
                                padding: 20px;
                                border-color: $muted;
                                z-index: 10;
                                border-radius: 2px;
                                border: 1.5px solid $muted;
                            }
    
                            .video-audio {
                                display: flex;
    
                                &.mutedVideo {
                                    border-radius: 2px;
                                    visibility: hidden;
                                    position: absolute;
                                }
    
                                .localVideoRefUser {
                                    margin: 3px;
                                    box-sizing: border-box;
                                    width: 100px;
                                    height: 75px;
                                    box-shadow: 1px 0px 5px 0px $greyColor1;
                                    border-width: 1px;
                                    border-color: $greyColor1;
                                    border-radius: 2px;
                                }
    
                                #localVideoRefMe {
                                    margin: 3px;
                                    box-sizing: border-box;
                                    width: 100px;
                                    height: 75px;
                                    box-shadow: 1px 0px 5px 0px $greyColor1;
                                    border-width: 1px;
                                    border-color: $greyColor1;
                                    border-radius: 2px;
                                }
                            }
                        }
                    }
                }

            }
        }

        .resume {
            .copy-link {
                margin: 16px;

                span {
                    font-size: 12px;
                    font-weight: 400;
                    color: $greyColor3;

                    strong {
                        font-weight: 600;
                        margin-right: 4px;
                    }
                }

                svg {
                    cursor: pointer;
                    margin-left: 4px;
                }

                p {
                    font-size: 16px;
                    font-weight: 700;
                    margin: 0;
                }
            }

            .container-video-audio-me {
                background-color: $white;
                display: flex;
                justify-content: center;
                align-items: center;
                box-shadow: 1px 0px 5px 0px $greyColor1;
                padding: 5px;
                border-radius: 10px;

                .row-video-name-me {
                    flex-direction: column;
                    display: flex;
                    padding: 4px;
                    width: 100%;
                    justify-content: center;
                    align-items: center;

                    .name-video-me {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: $white;
                        border-radius: 8px;
                        box-shadow: 1px 0px 5px 0px $greyColor1;
                        border: 1.5px $primaryColor solid;
                        width: 100px;

                        span {
                            font-family: $fontRegular;
                            font-size: 10px;
                            color: $primaryColor;
                        }
                    }
                    .muted {
                        border-color: $muted;

                        span {
                            color: $muted;
                        }
                    }

                    .video-me {
                        flex-direction: column;
                        display: flex;
                        flex: 1;

                        #localVideoRefMe {
                            margin: 3px;
                            box-sizing: border-box;
                            width: 100px;
                            height: 75px;
                            box-shadow: 1px 0px 5px 0px $greyColor1;
                            border-width: 1px;
                            border-color: $greyColor1;
                            border-radius: 2px;
                        }

                        .video-off {
                            margin: 3px;
                            box-sizing: border-box;
                            width: 100px;
                            height: 75px;
                            background-color: rgb($greyColor1, 0.5);
                            padding: 20px;
                            border-color: $muted;
                            z-index: 10;
                            border-radius: 2px;
                            border: 1.5px solid $muted;
                        }

                        .video-audio-me {
                            display: flex;

                            &.mutedVideo {
                                border-radius: 2px;
                                visibility: hidden;
                                position: absolute;
                            }
                            #localVideoRefMe {
                                margin: 3px;
                                box-sizing: border-box;
                                width: 100px;
                                height: 75px;
                                box-shadow: 1px 0px 5px 0px $greyColor1;
                                border-width: 1px;
                                border-color: $greyColor1;
                                border-radius: 2px;
                            }
                        }
                    }
                }
            }
        }
    }

    .empty {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 95vw;
        background-color: $white;
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
            0px 2px 1px 0px rgba(0, 0, 0, 0.12),
            0px 1px 1px 0px rgba(0, 0, 0, 0.14);

        img {
            width: 70%;
        }

        p {
            color: $greyColor2;
            font-weight: 600;
            line-height: 40px;
            letter-spacing: 0.14px;
        }
    }

    .movement {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 1;

        .button {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $primaryColor;
            width: 80px;
            height: 40px;
            margin: 2.5px;
            border-radius: 4px;
            box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
                0px 2px 1px 0px rgba(0, 0, 0, 0.12),
                0px 1px 1px 0px rgba(0, 0, 0, 0.14);
        }

        .line {
            display: flex;
        }
    }

    @media screen and (min-width: $desktopBreakpoint) {
        background-color: transparent;
        background-image: none;
        flex-direction: row;
        align-items: center;

        .resume {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-left: 16px;
            padding: 32px 0;
            position: absolute;
            bottom: 5%;

            p {
                margin: 0;
            }
        }

        .empty {
            width: 35vw;
            height: auto;
            aspect-ratio: 1/1;

            p {
                font-size: 20px;
            }
        }
    }
}
